<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Spring boot ThymeLeaf condition</h1>
    <h2>User is <span th:style="${isActive} ? 'color:green' : 'color:red'"
        th:text="${isActive} ? 'Active' : 'NotActive' "></span></h2>

    <h2 th:if="${gender}=='f'">Male</h2> 
    <h2 th:unless="${gender}=='f'">FeMale</h2>


    <div th:switch="${#lists.size(myList)}">
        <h1 th:case="'0'">List Contain Zero Elements</h1>
        <h1 th:case="'1'">List Contain One Element</h1>
        <h1 th:case="*">List Contain more than one Element</h1>
    </div>

</body>
</html>